<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

    <h4>Thank you for your order! Here is your order summary:</h4>

  <% @order.line_items.each do |line_item| %>
   <%= render 'line_item', product: line_item.product, quantity: line_item.quantity %>
  <% end %>

</section>
